html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.back {
  background-color: #fce6fb;
  padding: 32px;
}

.MuiTypography-body1.font1 {
  font-size: 4em;
  font-weight: 600;
  margin: 0px 20px 0px 40px;
}

.MuiTypography-body1 > .font1_2 {
  font-size: 3em;
  font-weight: 600;
  margin: 60px 0px 0px 0px;
  text-align: center;
}

.MuiTypography-body1.font2 {
  font-size: 4em;
  font-weight: 600;
  margin: 0px 20px 30px 240px;
}

.MuiTypography-body1.font3 {
  word-break: normal;
  font-weight: 600;
  margin: 30px 20px 30px 40px;
}

.MuiTypography-body1.font4 {
  word-break: normal;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 32px;
  text-align: center;
}

.MuiTypography-body1 > .font4_2 {
  font-size: 1.7em;
  font-weight: 600;
  margin: 20px 0px 20px 0px;
}

.MuiTypography-body1 > .font4_3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0px 0px 15px 0px;
}

.MuiTypography-body1.font5 {
  word-break: normal;
  margin-top: 20px;
}

.sample-box {
  width: 600px;
  height: 180px;
  background: #fff;
  border: 1px solid #fcaefb;
}

.btn-gradient-radius {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #fcaefb 0%, #ff69b4 100%);
  transition: 0.4s;
  font-size: 1.2em;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #fcaefb 0%, #ff69b4 100%);
}

.box {
  margin: auto; /* サンプル用 中央寄せ */
  box-sizing: border-box; /* 罫線も含む長さ      */
  width: 70vw; /* BOXの幅             */
  background: #fff; /* BOXの背景色         */
  border: 3px solid #fcaefb; /* 枠線の指定          */
  border-radius: 4px;

  display: flex; /* flex属性に変更      */
  flex-direction: column;
  justify-content: space-evenly; /* 子要素の横位置      */
  align-items: center; /* 子要素の縦位置      */
  margin-top: -20px;
  padding: 32px;
}
.box div {
  text-align: center; /* 文字開始位置合わせ  */
}

.music-info {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
